apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: iris-
spec:
  entrypoint: train
  templates:
  - name: train
    container:
      image: eu.gcr.io/${ANALYTICS_PROJECT}/train-iris:latest
      command: [python]
      args: ["train.py"]
